html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
}

table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 10px
}

thead {
      background-color: lightgray;
      font-weight: bold;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #30a5aa;
    padding: 10px 20px 0px;
}
.header {
    background-color: #3db7c2;
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

a {
    color: white;
}

.footer {
    background-color: #3db7c2;
    color: white;
    min-height: 150px;
    padding: 20px;
    font-size: smaller;
}
